---
interface Props {
	size?: string;
	dot?: boolean;
	href?: string;
	label?: string;
}
const { dot, href, label }: Props = Astro.props;
---
<a href={href} aria-label={label}
   class="flex items-center h-8 text-sm px-3 rounded-lg transition-all
          hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)]
          text-neutral-700 hover:text-[var(--primary)]
          dark:text-neutral-300 dark:hover:text-[var(--primary)]">
    {dot && <div class="h-1 w-1 bg-[var(--btn-content)] dark:bg-[var(--card-bg)] transition rounded-md mr-2"></div>}
    <slot></slot>
</a>
